html{
  background-color: #E1E0E0;

  font-family: sans-serif;
  clear:both;
  text-align: center;
}

#message,#pseudo,#submit{
  margin-top: 10px;
  font-size: 1.2em;
  padding-left: 4px;
  border-radius: 4px;
}

footer {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  position:absolute;
  bottom:0px;
}
