.liste{
width:200px;
margin-bottom:3px;
margin-top:30px;
background-color:#2D1A42;
color:#fff;
border: 2px solid #1A0F26;
}
.tableau {
margin-top:0px;
border: medium solid #350044;
background : rgba(0, 0, 0, 0.15);
border-collapse: collapse;
margin-left:auto;
margin-right:auto;
width:800px;
height:400px;
text-align:left;
cursor:default;
}
.tableau caption{
text-align:center;
background-color:#350044;
font-family:"Trebuchet MS",Verdana,Helvetica,sans-serif;
font-weight:bold;
font-size:20pt;
color:#fff;
padding:25px;
margin-top:3px;
}
.tableau th {
font-family:"Myriad Pro Light",Verdana,Helvetica,sans-serif;
border: thin solid #999999;
color: #fff;
padding: 2px;
background : rgba(0, 0, 0, 0.6);
font-size:20px;
font-weight:bold;
text-align:center;
}
.tableau td {
font-family:Verdana, Arial, Helvetica,serif;
border: thin solid #999999;
padding: 10px;
font-weight:bold;
cursor:pointer;
}
.desactive
{
background : rgba(0, 0, 0, 0.25);
}
.special
{
background-color:#16f26e;
color:#990000;
text-decoration:blink;
}
#notif
{
  padding:5px 10px;
  margin-top:10px;
  border:2px solid #000000;
  width:250px;
  background-color:#996633;
  color:#FFFFFF;
  font-size:15pt;
}
#lien {
  margin-top:20px;
}
#lien a,#lien a:visited{
  padding:10px 30px;
  background-color:#336633;
  color:#FFFFFF;
  border:1px solid #333333;
  text-decoration:none;
}
#lien a:hover{
background-color:#BDBDBD;
}
html{
  background: #4F64FF;
  background: -webkit-linear-gradient(left, #4F64FF, #8DC26F);
  background: -moz-linear-gradient(left, #4F64FF, #8DC26F);
  background: -o-linear-gradient(left, #4F64FF, #8DC26F);
  background: linear-gradient(to right, #4F64FF, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
