html{
  background-color: #E1E0E0;

  font-family: sans-serif;
  clear:both;
}

fieldset{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #b8b5b5;
  text-align: center;
  font-size: 1.5em;
  box-shadow: 8px 5px 4px grey;
}

h1{
  text-align: center;
  font-size: 2em;
  text-shadow: 4px 4px 3px grey;
}

.integer{
  margin-top: 15px;
  text-align: center;
}

.envoyer{
  margin-top: 30px;
  border-radius: 5px;
}

#nom,#prix,#quantite{
  margin-top: 10px;
  font-size: 0.7em;
  padding-left: 4px;
  border-radius: 4px;
}

#envoyer{
  border-radius: 4px;
}

#file{
  margin-top: 10px;
  font-size: 0.6em;
}

legend{
  text-align: center;
  font-weight: bold;
  border: 1px solid #6c6c6c;
  border-radius: 3px;
  background-color: #b8b5b5;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 8px 5px 4px grey;
}

footer {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  position:absolute;
  bottom:0px;
}
